@use '../abstracts' as *;

.form {
	position: absolute;
	border-radius: 0px 20px 20px 0px;
	width: 72rem;
	background: $colour-14;
	left: 8rem;
	height: 100vh;
	padding: 5.6rem;
	padding-left: 8.6rem;
	padding-right: 3.2rem;
	z-index: 9;
	&__scroll {
		margin-bottom: 5.6rem;
		overflow-y: auto;
		height: calc(80vh - 5.6rem);
	}
	&--title {
		font-size: 2.4rem;
		line-height: 3.2rem;
		letter-spacing: -0.5px;
		color: $colour-8;
		font-weight: $font-weight-700;
		margin-bottom: 4.8rem;
		&-subhead {
			color: $colour-1;
			margin-bottom: 2.4rem;
		}
	}

	&__flex-space {
		flex-direction: column;
		gap: 2.4rem;
		margin-bottom: 4.8rem;
	}

	&__flex-gap {
		gap: 2.4rem;
	}

	&__flex-three {
		gap: 2.4rem;
	}

	&__flex-column {
		flex-direction: column;
	}

	&__terms {
		margin-bottom: 2.4rem;
		gap: 2.4rem;
	}

	&__discard-right {
		margin-right: auto;
	}

	&__bottom-buttons {
		margin-top: 3.9rem;
	}

	&__overlay {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: 8;
	}

	&__draft {
		margin-right: 0.8rem;
	}
}

.display--none {
	display: none;
}

.input {
	font-weight: $font-weight-700;
	color: $colour-8;
	width: 100%;

	&--border-error {
		border: 1px solid $colour-8;
	}

	&--large-width {
		width: 50.4rem;
	}

	&__label {
		display: flex;
		justify-content: space-between;
	}

	&__text-field {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	&--padding {
		padding-left: 2rem;
		padding-right: 2rem;
	}

	&--label-text {
		color: $colour-7;
	}

	&--primary {
		background: $colour-14;
		border: 1px solid $colour-5;
		border-radius: 4px;
	}

	&--large {
		width: 50.4rem;
		height: 4.8rem;
	}

	&--medium {
		width: 24rem;
		height: 4.8rem;
	}

	&--small {
		width: 15.2rem;
		height: 4.8rem;
	}

	&--item {
		width: 21.4rem;
		height: 4.8rem;
	}

	&--qty {
		width: 4.6rem;
		height: 4.8rem;
		padding: 1rem;
		text-align: center;
	}

	&--price {
		width: 10rem;
		height: 4.8rem;
	}

	&__total-spot {
		align-items: center;
		margin-top: 3rem;
		gap: 3.803rem;
	}

	&--total {
		display: block;
	}

	&__payment-terms {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	&__item-list {
		max-width: 50.4rem;
		text-align: left;

		.input__text-field {
			gap: 0;
		}
	}

	&__item-fields {
		display: flex;
	}

}

.select {
	width: 24rem;
	border-radius: 0.4rem;
	padding-left: 2rem;
}

.item__list {
	margin-top: 3.2rem;

	&-subheaders {
		margin-bottom: 1.6rem;
		gap: 1.6rem;
	}

	.body--medium {
		color: $colour-7;
	}
}

.item--list-header {
	font-weight: $font-weight-700;
	font-size: 1.8rem;
	line-height: 3.2rem;
	letter-spacing: -0.375px;
	color: $colour-15;
	margin-bottom: 1.5rem;
}

.total--delete {
	width: 1.244rem;
	height: 1.6rem;
	cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}

.error {
	color: $colour-9;
}
