$color-1: #7C5DFA;
$color-2: #9277FF;
$color-3: #1E2139;
$color-4: #252945;
$color-5: #DFE3FA;
$color-6: #888EB0;
$color-7: #7E88C3;
$color-8: #0C0E16;
$color-9: #EC5757;
$color-10: #9277FF;
$color-11: #F8F8FB ;
$color-12: #141625 ;
